.applicants {
  font-family: 'Lato', sans-serif;
  
  &__title {
    display: inline-block;
    margin: 10px 15px 0 10px;
    font-size: 20px;
    font-weight: 700;
  }

  &__button {
    height: 23px;
    border-radius: 12px;
    padding: 3px 10px; 
    font-size: 12px;
    cursor: pointer;
    outline: none;
    display: inline-block;
  }
}

.application-stages {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 113px);
}

.stages-copy-button {
  display: inline;
}

.application-stage {
  flex: none;
  display: table;
  width: 290px;
  margin: 10px;
  padding: 5px 3px 10px;
  border-radius: 12px;
  align-content: center;
  text-align: center;
  background-color: $gray-darker;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 210px);
  }

  &__title {
    padding: 10px;
    margin-bottom: 10px;
    background-color: $emblica-blue;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 12px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}



.application-stage:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

