.applicant-modal {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: $gray-lightest;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  margin: 70px auto;
  width: 60vw;
  overflow-y: hidden;
  padding: 25px 20px 5px;
  display: flex;
  flex-direction: column;
  outline: none;
  position: relative;

  &__metadata-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
  }

  &__metadata-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }

  &__metadata-item-content {
    line-height: 24px;
    margin: 0 10px;
  }

  &__link {
    text-decoration: none;
    border-radius: 6px;
    padding: 3px 8px;
    color: $emblica-blue;
    background-color: $gray-darker;
    box-shadow: 0 0.5px 0.5px -1px rgba(0, 0, 0, 0.3);
  }

  &__link:hover {
    background-color: $gray-darkest;
    box-shadow: 0 1.5px 1px -1px rgba(0, 0, 0, 0.3);
  }

  &__close-button {
    cursor: pointer;
    border: none;
    background-color: $gray-lightest;
    border-radius: 6px;
    outline: none;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
  }

  &__comment-buttons {
    display: block;
    float: right;
  }

  &__comment-button {
    text-decoration: none;
    width: 70px;
    height: 40px;
  }

  &__attachment-dropzone {
    font-size: 14px;
    width: 100%;
    overflow: auto;

    &__visible {
      border-color: $gandalf-the-gray;
    }
  }
  
  &__attachment-chip {
    margin: 1px;
    padding: 5px;
  }

  &__attachment-list {
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 100%;
    @media screen and (min-width: 800px) {
      width: calc(100% - 140px);
    }
  }
  
  &__comments-title {
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 700;
  }

  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.overlay {
  background-color: rgba(0,0,0,.64);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}