.application-success {
  margin: 10% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  max-width: 95%;
  min-height: 20%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px;

  @media screen and (min-width: 750px){
    max-width: 70%;
  }

  &__link {
    padding: 10px 30px;
    margin-top: 0px;
    text-decoration: none;
    align-self: stretch;
  }

  &__title {
    padding: 5px 30px;
    color: $emblica-blue;
    font-size: 20px;
    font-weight: 700;
  }

  &__content {
    padding: 10px 30px;
    margin-top: 0px;
    align-self: stretch;
  }
}