.comment {
  padding: 10px 15px 5px 10px;
  margin: 0 5px 10px 0;
  background-color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,0.2);

  p {
    margin: 10px 0;
  }

  &__metadata {
    display: flex;
    justify-content: space-between;
  }

  &__recruiter {
    font-weight: 700;
  }

  &__date {
    font-size: 12px;
    font-weight: 300px;
    opacity: 0.5;
  }

  &__content {
    padding: 5px 0 10px;
    word-break: break-all;
  }
}