.header-text {
  margin-top: 50px;
  text-align: center;
}
.job-postings {
  background-color: $gray-lighter;
  display:flex;
  flex-direction: column;
  padding: 10px 15px;

  @media screen and(min-width: 520px) {
    padding: 10px 50px;
  }

  &__list {
      width: 85%;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color: #c5c5c5;
    }

  &__title {
    padding: 20px 0px;
  }
}

.logout-snackbar {
  margin-bottom: 15px;
}