.header-text {
  margin-top:50px;
  text-align: center;
}
.job-postings {
  align-items: center;
  background-color: $gray-lighter;
  display:flex;
  flex-direction: column;
  padding-bottom:50px;

  &__list {
      margin-top: 70px;
      width: 85%;
  }
}