body {
  background-color: $gray-lightest;
}

.job-posting {
margin: 10% auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
background-color: white;
max-width: 95%;
min-height: 20%;
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
align-items: center;

@media screen and (min-width: 750px){
  max-width: 80%
}

  &__link {
    text-decoration: none;
  }

  &__title {
    padding: 0px 20px;
    color: $emblica-blue;
    font-size: 26px;
  }
  
  &__content {
    padding: 10px 30px;
    margin-top: 0px;
  }

  &__form {
    padding: 10px 10px;
  }

  &__form-input {
    border: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 26vw;
    min-width: 100px;
    max-width: 540px;
    height: 40px;
    font-size: 15px;
    margin: 0px 10px;
    padding-left: 10px;
    @media screen and (min-width: 321px) {
      padding: 0px 18px 0px 10px;
    }
    @media screen and (min-width: 376px) {
      padding: 0px 0px 0px 10px;
    }
  }

  &__submit-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #002234;
    color: white;
    margin: 10px 0 0px;
    height: 30px;
    transition: all 200ms linear;
    font-size: 16px;
    margin-left: 30%;
    width: 100px;
    @media screen and (min-width: 380px) {
      margin: 10px 0 0px;
      width: 60px;
      height: 42px;
    }
    @media screen and (min-width: 495px) {
      width: 100px;
    }
  }

  &__submit-button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); 
  }

  &__error-message {
    color: red;
    font-size: 14px;
    padding-bottom: 10px;
    @media screen and (min-width: 410px) {
      font-size: 18px;
    }
  }

  &__form-input-error {
    font-size: 12px;
    color: red;
    padding: 10px;
  }

  &__character-limit {
    display: inline-flex;
    float: right;
    font-size: 14px;
    padding-bottom: 10px;
    @media screen and (min-width: 410px) {
      font-size: 18px;
    }
  }
}

.job-posting-listing {
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  color: $emblica-blue;
  height:50px;
  margin-bottom:15px;
  max-width: 100%;
  min-width: 300px;
  padding: 15px;
  text-align: center;

  &__title {
      color: $emblica-blue;
  }
}

.job-posting-listing:hover {
  background-color: $gray-darker;
  cursor: pointer;
}