.navigation-bar {
  background-color: $emblica-blue;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 5px;
  top: 0;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
  z-index: 9;

  &__title {
    display: inline-block;
    margin-right: auto;
    text-decoration: none;
    font-size: 15px;
    @media screen and (min-width: 540px){
      font-size: 1.3125rem;
    }
  }

  &__logo {
    display: inline-block;
    margin: 2px 10px 0px 5px;
  }

  &__middle {
    flex-grow: 1;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: $emblica-blue;
    outline: none;
    color: $gray-lightest;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-flex;
    margin-right: 10px;
    font-family: inherit;
  }

  &__hamburger-menu {
    background-color: $emblica-blue;
    border: none;
    outline: none;
    color: white;
    margin-right: 20px;
    cursor: pointer;
  }

  &__drop-down-menu {
    position: absolute;
    top: 63px;
    right: 15px;
    width: 250px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid $gray-dark;
    background-color: $gray-lightest;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
    outline: none;
  }

  &__drop-down-menu:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 86%;
    border: solid transparent;
    pointer-events: none;
    border-bottom-color: $gray-lightest;
    border-width: 12px;
    margin-left: -12px;
  }
  
  &__drop-down-menu-item {
    background-color: $gray-lightest;
    height: 40px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: black;
  }

  &__drop-down-menu-item:hover:not(.active) {
    background-color: $gray-darker;
  }
}

.active {
  background-color: $emblica-blue;
  color: white;
}